In [92]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [114]:
df = pd.read_csv('heart.csv')

In [115]:
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [116]:
#df.info()

In [117]:
#df.describe()

In [112]:
#fig, ax = plt.subplots(figsize=(12,8)) 
#sns.heatmap(df.corr(), annot=True)

#### Preprocessing

In [98]:
from sklearn import preprocessing 
from sklearn import impute
from sklearn import pipeline

In [99]:
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [100]:
def data_enhancement(data):
    gen_data = data
    
    trtbps_std = data['trtbps'].std() / data['trtbps'].mean()
    chol_std = data['chol'].std() / data['chol'].mean()
    thalachh_std = data['thalachh'].std() / data['thalachh'].mean()
    oldpeak_std = data['oldpeak'].std() / data['oldpeak'].mean()
    
    if np.random.randint(2) == 1:
        gen_data['trtbps'] += trtbps_std
    else:
        gen_data['trtbps'] -= trtbps_std
        
    if np.random.randint(2) == 1:
        gen_data['chol'] += chol_std
    else:
        gen_data['chol'] -= chol_std
        
    if np.random.randint(2) == 1:
        gen_data['thalachh'] += thalachh_std
    else:
        gen_data['thalachh'] -= thalachh_std
        
    if np.random.randint(2) == 1:
        gen_data['oldpeak'] += oldpeak_std
    else:
        gen_data['oldpeak'] -= oldpeak_std
    return gen_data

In [101]:
#df2 = data_enhancement(df)
#df2.head(5)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145.133245,233.210468,1,0,150.153061,0,3.416844,0,0,1,1
1,37,1,2,130.133245,250.210468,0,1,187.153061,0,4.616844,0,0,2,1
2,41,0,1,130.133245,204.210468,0,0,172.153061,0,2.516844,2,0,2,1
3,56,1,1,120.133245,236.210468,0,1,178.153061,0,1.916844,2,0,2,1
4,57,0,0,120.133245,354.210468,0,1,163.153061,1,1.716844,2,0,2,1

In [118]:
df.head(5)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [104]:
from sklearn.preprocessing import StandardScaler
#scaler_Models = pipeline.Pipeline(steps=[('scaling' , StandardScaler())])

In [122]:
x = df.drop('output', axis=1)
y = df.output

In [123]:
# Split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [107]:
#extra_sample = df2.sample(df2.shape[0] // 4)
#x_train = pd.concat([x_train, extra_sample.drop(['output'], axis=1 ) ])
#y_train = pd.concat([y_train, extra_sample['output'] ])

In [124]:
from sklearn.tree          import DecisionTreeRegressor
from sklearn.ensemble      import RandomForestRegressor
from sklearn.ensemble      import ExtraTreesRegressor
from sklearn.ensemble      import AdaBoostRegressor
from sklearn.ensemble      import GradientBoostingRegressor
from xgboost               import XGBRegressor
from lightgbm              import LGBMRegressor

tree_classifiers = {
  "Decision Tree": DecisionTreeRegressor(),
  "Extra Trees":   ExtraTreesRegressor(n_estimators=100),
  "Random Forest": RandomForestRegressor(n_estimators=100),
  "AdaBoost":      AdaBoostRegressor(n_estimators=100),
  "Skl GBM":       GradientBoostingRegressor(n_estimators=100),
  "XGBoost":       XGBRegressor(n_estimators=100),
  "LightGBM":      LGBMRegressor(n_estimators=100),
  "LogReg":        LogisticRegression(),
}
#tree_classifiers = {name: pipeline.make_pipeline(scaler_Models, model) for name, model in tree_classifiers.items()}

In [125]:
import time
from sklearn import metrics

In [ ]:
DecisionTreeRegressor.fit(x_train, y_train)

In [127]:
results = pd.DataFrame({'Model': [], 'MSE': [], 'MAB': [], " % error": [], 'Time': []})

rang = abs(y_train.max()) - abs(y_train.min())

for model_name, model in tree_classifiers.items():
    
    start_time = time.time()
    model.fit(x_train, y_train)
    total_time = time.time() - start_time
        
    pred = model.predict(x_test)
    
    results = results.append({"Model":    model_name,
                              "MSE": metrics.mean_squared_error(y_test, pred),
                              "MAB": metrics.mean_absolute_error(y_test, pred),
                              " % error": metrics.mean_squared_error(y_test, pred) / rang,
                              "Accuracy Score": model.score(x_test,y_test),
                              "Time":     total_time},
                              ignore_index=True)


results_ord = results.sort_values(by=['MSE'], ascending=True, ignore_index=True)
results_ord.index += 1 
results_ord.style.bar(subset=['MSE', 'MAB'], vmin=0, vmax=100, color='#5fba7d')

C:\Users\rujek\Anaconda3\envs\strive\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(